
* {
	font-family: "Droid Sans", sans-serif;
	box-sizing:border-box;
}

html {
	user-select: none;
}

body {
	background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
	min-height:60vh;
	font: normal 16px sans-serif;
	padding-bottom:60px;
	margin-bottom:2.5em;
}


/* ESTE ES EL DIV DEL TITULO QUE DICE ByG Riegos
Ademas contiene la imagen y el logo, no dentro
*/
.titulo {
    display: flex;
    width: 100%;
    background-image:url("../img/main.jpg");
    padding: 2em;
    color:#ededed;
    font-family:"Century Gothic";
    font-weight: bold;
}

/* Configuracion y ajuste de tamaño del logo
de la gotita.
*/

.logo {
    margin-left:1em;
    object-fit:cover;
    width:100px;
    height: 100px;
}
.logo img {
    object-fit:cover;
    width:80px;
    hyphens:80px;
}

/*.titulo:before {
    content:'';
    position: absolute;
        top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
}*/

/* Configuracion de tamaño y color de letra h1 ByG Riegos
Asi como el color y efecto cuando el Mouse se pone encima
*/

.titulo h1 {
    text-shadow: #000 0.1em 0.1em 0.2em;
    font-size:60px;
}

.titulo a {
    color:#fff;
    text-decoration: none;
    transition: 0.3s all;
}

.titulo a:hover {
    color:#DEDCDC;
    transition: 0.3s all;
}
/* Contenedor del menu 
No es el ul, sino que solo es el contenedor
*/
.menu {
    width:100%;
    background: rgba(48,60,88,1);
    background: -moz-linear-gradient(top, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,60,88,1)), color-stop(100%, rgba(60,74,109,1)));
    background: -webkit-linear-gradient(top, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
    background: -o-linear-gradient(top, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
    background: -ms-linear-gradient(top, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
    background: linear-gradient(to bottom, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303c58', endColorstr='#3c4a6d', GradientType=0 );
    color:#ededed;
    /*border-radius: 0 0 20px 20px;*/ /* NO ME GUSTA COMO QUEDA */
}
.bar {
	display:block;
	width:100%;
	background: rgba(48,60,88,1);
    background: -moz-linear-gradient(top, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,60,88,1)), color-stop(100%, rgba(60,74,109,1)));
    background: -webkit-linear-gradient(top, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
    background: -o-linear-gradient(top, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
    background: -ms-linear-gradient(top, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
	background: linear-gradient(to bottom, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
	display: none;
}

.bar i {
	color: #fff;
	cursor: pointer;
	padding:1em;
}
/* Se pone display flex para que los li se pongan uno al lado del otro*/
.menu ul {
    display: flex;
    flex-wrap: wrap; /*Configuracion provisional*/
    margin-bottom:2.1em;  
/*    border-top:2px solid #3F517A;*/
}

/* EN CUANTO A LOS MENUS, SE QUITARON
LOS BORDES (COMENTADOS POR SI LAS DUDAS)
POR TEMAS DE DISEÑO Y CORRECION
*/

.menu ul li {
    margin-left:0;
    list-style-type: none;
}

.menu ul li a {
	text-transform: uppercase;
    transition:0.30s all;
    display: block;
    font-weight: bold;
    padding: 1.5em;
    text-decoration:none;
    color:#fff;
/*    border-radius: 0px 0px 20px 20px;*/
}
.menu ul li a:hover {
    color:#ededed;
    cursor:pointer;
    background: #3F517A;
    transition:0.35s all;
/*    border-radius: 0px 0px 20px 20px;*/
}

.principal-flex {
	width: 90%;
	margin: 0 auto;
	display: flex;
	border-radius: 20px;
	background-color: #fff;
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.contenedor{
	color: #35373a;
	width: 65%;
	margin:2em 0 2em 3em;
}


.contenedor {
	user-select: text;
	padding: 2em;
}
.contenedor h2, .contenedor p {
	user-select: none;
}

.wp-img {
	border-radius: 20px;
	background-image: url("../img/contact-img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 25%;
	padding: 2em;
	margin:2em;
}

.contenedor h2 {
	margin-top:0;
	font-weight: bold;
	margin-bottom:0.5em;
}

.contenedor h2, p {
	text-align:left;
}

.contenedor p {
	margin-bottom:1em;
}

.contenedor ul li {
	list-style-type:square;
}

.pie-pagina {
    display: block;
    font-family:"Droid Sans",
                "Segoe UI",
                "Arial",
                 sans-serif;
    /*border-radius:20px 20px 0 0;
    border-bottom:2px solid #3F517A;*/ /* SE COMENTO POR TEMA DE ESTANDARES */
    bottom:0px;
    position:fixed;
    width: 100%;
    color:#ededed;
    padding: 1em;
    text-align: center;
    background: rgba(48,60,88,1);
    background: -moz-linear-gradient(top, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,60,88,1)), color-stop(100%, rgba(60,74,109,1)));
    background: -webkit-linear-gradient(top, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
    background: -o-linear-gradient(top, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
    background: -ms-linear-gradient(top, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
    background: linear-gradient(to bottom, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303c58', endColorstr='#3c4a6d', GradientType=0 );
}

/* hace que no se vea tan feo el pp*/

.pie-pagina {
	display: flex;
	justify-content: center;
}

.pie-pagina p, .pie-pagina a {
	text-align: center;
}
.pie-pagina a img {
    transition: all 0.5s;
	margin-left:0.5em;
	width:16px;
	height:16px;
}

.pie-pagina a img:hover {
	transition: all 0.5s;
	width:18px;
	height:18px;
}

@media only screen and (max-width:360px) {
	.contenedor2, .contenedor {
		width:90%;
	}
	.contenedor2 {
		display: flex;
		padding:1em;
	}
	.menu ul li {
		text-align: left;
		display:block;
		width:100%;
	}

	.contenedor2 h2 {
		padding-top:0;
		font-size:20px;
	}
	body {
		min-height:180vh;
	}
}

@media only screen and (max-width:420px) {
	.menu ul {
		padding: 0;
	}
	.menu ul li {
		text-align: left;
		display:block;
		width:100%;
	}
	.menu ul li #active {
		background: rgba(48,60,88,1);
		background: -moz-linear-gradient(top, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,60,88,1)), color-stop(100%, rgba(60,74,109,1)));
		background: -webkit-linear-gradient(top, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
		background: -o-linear-gradient(top, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
		background: -ms-linear-gradient(top, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
		background: linear-gradient(to bottom, rgba(48,60,88,1) 0%, rgba(60,74,109,1) 100%);
	}
	.contenedor-general {
		margin-top: 1em;
	}
	.bar {
		display: block;
	}
	.menu {
		display: none;
	}
	.principal-flex {
		margin-top: 2.5em;
		flex-wrap: wrap;
	}
	.contacto ul {
		padding-left: 0;
	}
	.contenedor {
		margin: 2em;
		text-align: left;
		width: 90%;
	}
	.wp-img {
		margin-top: 0;
		height: 200px;
		width: 90%;
	}
}